@charset "UTF-8";
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #757575;
  --accent-color: #2196f3;
  --main-letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.body {
  font-family: var(--main-font);
  color: var(--main-color);
  letter-spacing: var(--main-letter-spacing);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
}

.title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  padding: 0px;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-btn:hover {
  fill: var(--accent-color);
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: #212121;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
  transition: border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:required:focus:not(:placeholder-shown):valid {
  border-color: green;
}

.modal-form-input:required:focus:not(:placeholder-shown):invalid {
  border-color: red;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*по умолчанию стоит дисплей нан импортант!!!????*/
.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
}

.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  border-color: var(--accent-color);
  outline: none;
  transition: border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-policy {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-checkbox-policy::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 16px;
  height: 15px;
  outline: 1px solid #000000;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
  background-image: url(../img/icon-check.svg);
}

.modal-form-checkbox:focus + .modal-form-checkbox-policy::before {
  outline-color: var(--accent-color);
  /* box-shadow: 0 0 0 2px blue;*/
}

.modal-form-btn {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu {
  display: flex;
  align-items: center;
}

.menu .current {
  color: var(--accent-color);
  bottom: 0;
}

.menu .current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 33px;
  background-color: var(--accent-color);
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts__phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
}

.logo-link-web {
  color: var(--accent-color);
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  margin-right: 93px;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg/hero-bg.jpg");
  background-size: cover;
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;
  max-width: 696px;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__subtitle {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.advantages__description {
  font-size: 14px;
  line-height: 1.71;
  margin-right: 30px;
  margin-top: 10px;
}

.advantages__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-right: 30px;
}

.advantages__item:nth-child(n + 4) {
  margin-right: 0px;
}

.activity-title {
  text-align: center;
  margin-bottom: 50px;
}

.activity-img-list {
  display: flex;
  flex-wrap: wrap;
}

.activity-img-list-item {
  margin-right: 30px;
}

.activity-img-list-item:last-child {
  margin-right: 0px;
}

.activity-subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.activity-img-list-wrapper {
  position: relative;
}

.activity-overlay {
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 27px 82px;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  flex-basis: calc((100% - 120) / 4);
  margin-right: 30px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:last-child {
  margin-right: 0px;
}

.team__footer {
  /*padding-left: 32px;
  padding-right: 32px;*/
  background-color: #ffffff;
  padding: 30px 32px;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* margin-top: 30px;*/
  margin-bottom: 10px;
  color: #212121;
}

.team__description {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.social__list {
  display: flex;
  justify-content: space-between;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__link:hover .social-list-icon,
.social__link:focus .social-list-icon {
  fill: #ffffff;
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__title {
  text-align: center;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.clients__item {
  margin-right: 30px;
  width: 170px;
}

.clients__item:nth-last-child(6n + 1) {
  margin-right: 0px;
}

.clients__link {
  display: flex;
  fill: #afb1b8;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #ffffff;
  transition: border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__general {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  margin-right: 70px;
}

.logo-link-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo-link .logo-link-web {
  color: var(--accent-color);
}

.logo-link-studio {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.adress {
  margin-top: 20px;
}

.adress__item {
  margin-bottom: 9px;
}

.adress:nth-child(3n) {
  margin-bottom: 0px;
}

.adress__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.adress__link-mail-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-color);
}

.social {
  margin-right: 93px;
}

.social__footer-list {
  display: flex;
}

.footer-subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social__footer-list {
  display: flex;
}

.social__footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
}

.social__footer-link:hover, .social__footer-link:focus {
  background-color: #2196f3;
}

.footer-form-wrapper {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.input-mail-footer {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding: 16px 0 16px 16px;
  margin-right: 12px;
  outline: none;
}

.footer-form-btn {
  width: 200px;
  height: 50px;
  background-color: #2f303a;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  color: #ffffff;
  border-color: transparent;
}

.footer-send-icon {
  position: absolute;
  transform: translateX(2%);
}

.portfolio__header {
  border-bottom: 1px solid #ececec;
}

.portfolio__container {
  margin: 0 auto;
}

.filters__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__item {
  background: #f5f4fa;
  border-radius: 4px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: 0px;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover, .filters__button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
}

.projects__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

.projects__item:nth-child(3n + 1) {
  margin-left: 0px;
}

.projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects__item:hover, .projects__item:focus {
  box-shadow: 0px 1px 1px rgba(56, 48, 48, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__subtitle {
  font-size: 18px;
  font-style: normal;
  line-height: 2;
  font-family: var(--main-font);
  letter-spacing: 0.06em;
  color: #212121;
}

.projects__wrapper {
  position: relative;
  overflow: hidden;
}

.projects__subtitle-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 24px 63px;
  height: 294px;
  width: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .projects__subtitle-overlay,
.projects__link:focus .projects__subtitle-overlay {
  transform: translateY(0);
}

.projects__description {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects__footer-cards {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
/*# sourceMappingURL=main.css.map */