.hero {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;

  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/bg/hero-bg.jpg");
  background-size: cover;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;
  max-width: 696px;
}
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
